// Typography

$title-font: 'Josefin Sans', sans-serif;
$primary-font: 'Montserrat', sans-serif;
$light: 300;
$regular: 400;
$bold: 700;
$letter-spacing: 0.03rem;
$letter-spacing-2x: 0.06rem;
$letter-spacing-big: 0.1rem;

// Color Palette

$primary: #34a9f4;
$primary-hover: #187bba;
$primary-transparent: rgba(52,169,244,0.9);
$primary-transparent-2: rgba(52,169,244,0.75);
$secondary: #f2f3f4;
$secondary-hover: #dcddde;
$success: #68ce1d;
$success-hover: #58af19;
$info: #464ee8;
$info-hover: #2d34bf;
$warning: #f99507;
$warning-hover: #db8409;
$danger: #f50909;
$danger-hover: #c30505;
$title-color: #000;
$text-color: #999;
$light-bg-color: #f7f7f7;
$dark-bg-color: #222;
$body-bg: #fefefe;
$dark-body-bg: #111;
$white: #fff;
$light-grey: #eee;
$grey: #c1c1c1;
$mid-grey: #777;
$dark-grey: #333;
$deep-grey: #222;
$inverse-color: #111;
$black: #000;

// Social Colors

$facebook: #4e68a1;
$facebook-hover: #3b4f7a;
$twitter: #65b5f2;
$twitter-hover: #5294c6;
$google: #e05d4b;
$google-hover: #b94c3d;
$linkedin: #2083bc;
$linkedin-hover: #186592;
$pinterest: #d2373b;
$pinterest-hover: #ad2c2f;
$dribbble: #ec5f94;
$dribbble-hover: #b4446e;
$instagram: #4c5fd7;
$instagram-hover: #4252ba;
$youtube: #e52d27;
$youtube-hover: #b31217;